
# DB 데이터
oracle_base/

# Python 캐시 및 환경
__pycache__/
*.pyc
venv/

# 빌드 결과물
bulsee_backend/build/
bulsee_backend/.gradle/
bulsee_frontend/dist/
bulsee_frontend/node_modules/

# 기타
.DS_Store
"bulsee_frontend/public/emd.json" 
"bulsee_frontend/public/sig.json" 
"bulsee_backend/src/main/resources/application.properties" 
